.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  #output {
    font-family: 'Courier New', Courier, monospace;
    color: #3f3636
  }